@model IEnumerable<SubmissionResponseModel>;
<div class="page-header">
    <h1>List of Submissions</h1>
</div>
<a asp-controller="Submission" asp-action="Create">Add New Submission</a>

<table class="table table-bordered table-striped table hovered">
    <thead>
        <tr>
            <th>CandidateId</th>
            <th>JobRequirementId</th>
            <th>AppliedDate</th>
            <th colspan="2">Options</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var m in Model)
            {
                <tr>
                    <td>@m.CandidateId</td>
                    <td>@m.JobRequirementId</td>
                    <td>@m.AppliedDate</td>
                    <td><a asp-controller="Submission" asp-action="Edit" asp-route-id="@m.Id">Edit</a></td>
                    <td><a asp-controller="Submission" asp-action="Delete" asp-route-id="@m.Id">Delete</a></td>

                </tr>
            }
        }
    </tbody>
</table>